  * {
      margin: 0px;
      padding: 0px;
      box-sizing: border-box;

  }

  .team {
      margin-top: 100px;
      position: relative;
      width: 1000px;
      /* margin: 25px auto 0; */
      height: auto;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 340px;
      grid-gap: 155px;
  }

  .team .card {
      position: relative;
      background: transparent;
      overflow: hidden;
      border-radius: 20px;
      color: red;
      transition: 0.5;
  }

  .team .card:hover {
      transform: translateY(-20px);
      box-shadow: 0 20px 20px black;
  }

  .team .card:hover .img-box {
      opacity: 0.5;
  }

  .team .card .img-box img {
      width: 100%;
  }

  .team .card .content {
      position: absolute;
      width: 100%;
      height: 60%;
      bottom: -100%;
      padding: 20px;
      padding-top: 10px;
      box-sizing: border-box;
      text-align: center;
      transition: 0.5s;
  }

  .team .card:hover .content {
      bottom: 0;
  }

  .team .card:nth-child(1) .content {
      background: linear-gradient(0deg, grey, transparent);
  }

  .team .card .content h2 span {
      color: white;
      font-size: 15px;
  }

  .team .card .content p {
      margin: 0;
      padding: 0;
      color: whitesmoke;
      font-size: 17px;
  }

  .team .card .content ul {
      display: flex;
      margin: 20px 0 0;
      align-items: center;
      justify-content: center;
  }

  .team .card .content ul li {
      list-style: none;
  }

  .team .card .content ul li a {
      color: white;
      font: 200;
      font-size: 20px;
      padding: 10px;
  }

  .team .card .content ul li:nth-child(1) a:hover .fab {
      color: rgb(246, 142, 159);
  }

  .team .card .content ul li:nth-child(2) a:hover .fab {
      color: red;
  }

  .team .card .content ul li:nth-child(3) a:hover .fab {
      color: #3b5998;
  }

  @media (max-width:600px) {
      .team {
          grid-template-rows: 300px;
          padding-left: 85px;
      }
  }